<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.CourseTypeMapper">
  <resultMap id="BaseResultMap" type="com.ssm.bean.CourseType">
    <id column="courseTypeId" jdbcType="VARCHAR" property="coursetypeid" />
    <result column="courseCost" jdbcType="DOUBLE" property="coursecost" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="courseName" jdbcType="VARCHAR" property="coursename" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <select id="findAllCourseType" resultMap="BaseResultMap">
    SELECT * FROM HaierBrother.crm_course_type
  </select>
  <select id="findcourseName" resultMap="BaseResultMap">
    SELECT courseName FROM crm_course_type WHERE courseTypeId=#{courseTypeId}
  </select>


</mapper>